@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>

<p>Token atual: @ViewBag.Session</p>

<form asp-action="AbrirSecBox" method="post">
    <button type="submit">Abrir SecBox</button>
</form>
<form asp-controller="EnrollUser" asp-action="Index" method="get">
    <button type="submit" class="btn btn-primary">Cadastrar nova pessoa</button>
</form>
<a href="http://192.168.0.129">
    <button>Abrir Painel Web</button>
</a>
<form asp-action="FazerLogout" method="post">
    <button type="submit">Fazer Logout</button>
</form>
