@{
    ViewData["Title"] = "Teste Biometria";
}

@model IntegracaoIDFlex.Models.EnrollUserViewModel

<h2>Deseja cadastrar a biometria?</h2>

<div>
    <button id="btnSim" onclick="mostrarCadastro()">Sim</button>
    <button id="btnNao" onclick="cancelarCadastro()">Não</button>
</div>

<div id="formCadastro" style="display: none;">
    <form method="post" asp-action="TesteBiometria" asp-controller="TestBiometria">
        <label>iD do usuário:</label><br />
        <input type="number" id="Id" name="Id" value="@ViewBag.Id"/>
        <button type="submit">Cadastrar Biometria</button>
    </form>
</div>

<script>
    
    function mostrarCadastro() {
        document.getElementById('formCadastro').style.display = 'block'; 
        document.getElementById('btnSim').disabled = true; 
        document.getElementById('btnNao').disabled = true; 
    }

    
    function cancelarCadastro() {
        window.location.href = '@Url.Action("Index", "Dashboard")'; 
    }
</script>
@if (TempData["Erro"] != null)
{
    <div style="color: red;">@TempData["Erro"]</div>
}
@if (TempData["Sucesso"] != null)
{
    <div style="color: green;">@TempData["Sucesso"]</div>
}